@{
	ViewData["Title"] = "Home page";
}

<div>
	<form action="." method="post">
		<label for="client-name">Name</label>
		<input type="text" name="client-name" id="id-client-name">

		<button type="submit">submit</button>
	</form>
</div>
