[submodule "submodules/Invoke-Build"]
	path = submodules/Invoke-Build
	url = https://github.com/nightroman/Invoke-Build.git
[submodule "submodules/DayZ_SA_ClassName_Dump"]
	path = submodules/DayZ_SA_ClassName_Dump
	url = https://github.com/ravmustang/DayZ_SA_ClassName_Dump.git
[submodule "submodules/CQRSlite"]
	path = submodules/CQRSlite
	url = https://github.com/gautema/CQRSlite.git
[submodule "submodules/CQRS"]
	path = submodules/CQRS
	url = https://github.com/Chinchilla-Software-Com/CQRS.git
[submodule "submodules/Json2CSharpCodeGenerator"]
	path = submodules/Json2CSharpCodeGenerator
	url = https://github.com/Json2CSharp/Json2CSharpCodeGenerator.git
