html,
body {
  background: #222;
  color: #ddd;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
pre {
  margin: 0;
}
table {
  width: 100%;
}
td:hover {
  background-color: rgba(8, 128, 64, 0.1);
}
th {
  font-size: 0.7rem;
  opacity: 0.5;
  text-align: left;
}

.metadata {
  display: none;
  opacity: 0.4;
  font-size: 0.8rem;
}

.number {
  font-family: monospace;
  color: rgb(144, 111, 111);
}

table {
  border-collapse: collapse;
}
table td,
table th {
  border: 1px solid silver;
}
table tr:first-child th {
  border-top: 0;
}
table tr:last-child td {
  border-bottom: 0;
}
table tr td:first-child,
table tr th:first-child {
  border-left: 0;
}
table tr td:last-child,
table tr th:last-child {
  border-right: 0;
}
