html,
body {
  background: #222;
  color: #ddd;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
  font-size: 20px;
}
.tablify pre {
  margin: 0;
  font-size: 0.7rem;
  opacity: 0.8;
}
.tablify table {
  width: 100%;
}
.tablify tr:hover {
  background-color: rgba(8, 128, 64, 0.1);
}
.tablify button {
  font-size: 0.7rem;
  padding: 0 10px;
  border: none;
  background: transparent;
  color: royalblue;
  cursor: pointer;
}