.tablify th {
  font-size: 0.7rem;
  opacity: 0.5;
  text-align: left;
}

.tablify .metadata {
  display: none;
  opacity: 0.4;
  font-size: 0.8rem;
}

.tablify .number {
  font-family: monospace;
  color: rgb(144, 111, 111);
}

.tablify table {
  border-collapse: collapse;
}
.tablify table td,
.tablify table th {
  border: 1px solid silver;
}
.tablify table tr:first-child th {
  border-top: 0;
}
.tablify table tr:last-child td {
  border-bottom: 0;
}
.tablify table tr td:first-child,
.tablify table tr th:first-child {
  border-left: 0;
}
.tablify table tr td:last-child,
.tablify table tr th:last-child {
  border-right: 0;
}
