html,
body {
  background: #222;
  color: #ddd;
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}
pre {
  margin: 0;
  font-size: 0.7rem;
  opacity: 0.8;
}
table {
  width: 100%;
}
tr:hover {
  background-color: rgba(8, 128, 64, 0.1);
}
button {
  border: none;
  background: transparent;
  color: darkgoldenrod;
  cursor: pointer;
}