@model List<ListEntry>

<div>
	<a asp-action="Create">@SharedBasicLocalizer["Create new"]</a>
	@foreach (var item in Model)
	{
		<div>
			<a asp-controller="Home" asp-action="Details" asp-route-id="@item.Identity">Go</a>
			@item
		</div>
	}
</div>